#NavBar{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.11);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    backdrop-filter: blur(11.5px);
    background-color: rgba(255, 255, 255, 0.712);
}

.cardOverlay{
    background-color: rgba(151, 151, 151, 0);
    overflow: hidden;
    transition-duration: 0.5s;
    border: 0;
}


 
.nav-link.active {
    border-radius: 2rem;
    background: linear-gradient(129.07deg, #633DB1 8.47%, #3D3BBC 46.52%, #3377C8 85.37%);
    color: white;
    padding: 0.5rem;
    stroke: 0;
}

.cardOverlay:hover{
    background-color: rgba(75, 75, 75, 0.548);
    transition-duration: 0.5s;
}

.cardOverlayImg{
    scale: 100%;
    transition-duration: 0.5s;
}

.cardOverlay:hover .cardOverlayImg{
    scale: 120%;
    transition-duration: 0.5s;
}



.accountInfo{
    opacity: 0;
    transition-duration: 0.5s;
}
.cardOverlay:hover .accountInfo{
    opacity: 1;
    transition-duration: 0.5s;
}

.MainButton{
    border-radius: 2rem;
    background: linear-gradient(129.07deg, #633DB1 8.47%, #3D3BBC 46.52%, #3377C8 85.37%);
    color: white;
    padding: 0.5rem;
    stroke: 0;
}

.upload-field{
    padding: 2rem;
    background-color: #643db11f;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
}

.active-link{
    color: black;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}

.caption{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

#NavMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 64px;
}

.NavLogo{
    display: flex;
    align-items: start;
    flex-direction: column;

}



.NavMenus{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.NavProfile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.NavProfileMobile{
    display: none;
}

#PostCard{
    border-radius: 1rem;
    padding: 0rem;
    overflow: hidden;
    border: 0px;
}

#UserPost{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

#UserPost:hover{
    background-color: rgb(233, 233, 233);

}

#UserName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

#AvatarImage, .AvatarPost{
    width: 2rem;
    border-radius: 100%;
}

.AvatarImage {
    width: rem;
}

#ActionButtonPost{
    display: flex;
    gap: 1rem;
}

.Content{
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}

.SideBar{
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
    position: sticky;
    top: 8rem;
}

.body{
   align-items: start; 
   justify-content: center;
   background-color: rgb(233, 233, 233);
   height: 100%;
   padding: 3rem 0rem;
}

.UserName{
    align-items: center;
    gap: 2rem;
    display: flex;
    
}

.UserNumber{
    justify-content: space-between;
    padding: 0rem 2rem;
}

.AvatarImage{
    width: 4rem;
    border-radius: 100%;
}

#ProfileBadge{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.RegisterButton{
    display: flex;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.ReccomendationAccount{
    justify-content: space-between;
    max-width: fit-content;
    width: auto;
    background-color: white;

}

.ReccomendationAccountCont {
    height: 60vh;
    overflow-y: scroll;

}

.RecAcc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.FollowingUser{
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.FollowingUser, p{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

p{
    padding: 0px;
}

#Following{
    padding: 0rem 4rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}



#FollowingList{
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 1rem;
    gap: 1rem;
    overflow-y: hidden;
}

.FollowingAcc{
    width: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    justify-content: space-between;
}

.PhotoGridItem{
    margin: 0;
    padding: 0.5rem;
}

.PhotoGrid{
    align-items: start;
    justify-content: start;
}

Button{
    color: rgb(152, 152, 182);
    border-radius: 100%;
}


#CommentItem{
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.FollowingListCont{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}




@media screen and (max-width: 767px) {
    .NavProfileDesktop{
        display: none;
    }
    .NavProfileMobile{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #NavMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
    .body{
        align-items: start; 
        justify-content: center;
        background-color: rgb(233, 233, 233);
        height: 100%;
        padding:1rem 1rem ;
        gap: 3rem;
    }

    .detailPostContent{
        margin: 0;
        gap: 0;
        padding: 0;
        margin-top: 50px;
    }

    .detailPostComment{
        margin: 0  !important;
        gap: 0  !important;
        padding: 0  !important;
    }

    .BodyDetailPost{
        margin: 0;
        padding: 0 1rem  !important; 
        gap: 0!important;
    }


}

@media screen and (max-width: 1000px) {
    .NavProfileDesktop{
        display: none;
    }

    #NavMenu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
    }    

    .SidebarHome{
            display: none;
    }

    .body{
        align-items: center; 
        justify-content: center;
        background-color: rgb(233, 233, 233);
        height: 100%;
        padding: 0rem 1rem ;
        gap: 3rem;
        margin-top: -40px;
    }

    .FollowingListHome{
        display: none;
    }

    .detailPostComment{
        margin: 0  !important;
        gap: 0  !important;
        padding: 0  !important;
    }

    .BodyDetailPost{
        margin: 0;
        padding: 0 1rem  !important; 
        gap: 0!important;
    }





}

