#NavMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30rem;
    padding: 0rem 3rem;
}

#UserPost{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

#UserName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

#AvatarImage, .AvatarPost{
    width: 2rem;
}

#ActionButtonPost{
    display: flex;
    gap: 1rem;
}

.content{
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: white;
}

.body{
   align-items: center; 
   justify-content: center;
   background-color: rgb(216, 216, 216);
}